# Project-specific
data/speeches_*
glove*[zip,txt]

# Jupyter
.ipynb_checkpoints

# Virtual environment
.venv
venv/
.env
env/

# Byte-compiled / optimized / DLL files
__pycache__/

# mypy
.mypy_cache/